<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add citation</title>

    </head>
    <body>
        <h3>Fill the form to add a new citation</h3>
        <br/>
        <form th:action="@{/citations/add}" th:object="${citation}" method="POST">
            Title:
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color:red">Title error</span><br/>
            <input type="text" th:field="*{title}"/><br/>
            <br/>
            Author:<br/>
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" style="color:red">Title error</span><br/>
            <input type="text" th:field="*{author}"/><br/>
            <br/>
            Year:
            <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}" style="color:red">Title error</span><br/>
            <input type="number" value="1900" th:field="*{year}" min="1900" max="2020"/><br/>
            <br/>
            Type:
            <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}" style="color:red">Title error</span><br/>
            <select th:field="*{type}">
                <option th:each="type : ${T(bibibi.models.CitationType).values()}"
                    th:value="${type}" th:text="${type.displayName}">
                </option>
            </select>
            <br/>
            <input type="submit" value="Add citation"/>
        </form>
        
    </body>
</html>
