<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add citation</title>

    </head>
    <body>
        <h3>Fill the form to add a new citation</h3>
        <br/>
        <form method="POST" th:action="@{/add}" th:object="${citation}" >
            Title:<br/>
            <input type="text" th:field="*{title}"/><br/>
            <br/>
            Author:<br/>
            <input type="text" th:field="*{author}"/><br/>
            <br/>
            Year:<br/>
            <input type="text" th:field="*{year}"/><br/>
            <br/>
            Type:<br/>
            <input type="radio" th:field="*{type}" value="article"/> Article<br/>
            <input type="radio" th:field="*{type}" value="book"/> Book<br/>
            <input type="radio" th:field="*{type}" value="inproceedings"/> Inproceedings<br/>
            <br/>
            <input type="submit" value="Add citation"/>
        </form>
        
    </body>
</html>
