<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Information</title>
    </head>
    <body>
        <p>
            <button class="btn btn-danger">Delete citation</button> <a href="#" class="btn btn-default">Edit citation</a>
        </p>

        <ul>
            <li><strong>Title:</strong> <span th:text="${citation.title}"></span></li>
            <li><strong>Author:</strong> <span th:text="${citation.author}"></span></li>
            <li><strong>Year:</strong> <span th:text="${citation.year}"></span></li>
            <li><strong>Publisher:</strong> <span th:text="${citation.publisher}"></span></li>
<!--            <li><strong>Book title:</strong> <span th:text="${citation.inProceedings.booktitle}"></span></li>-->
            <li><strong>Pages:</strong> <span th:text="${citation.pages}"></span></li>
            <li><strong>Address:</strong> <span th:text="${citation.address}"></span></li>
<!--            <li><strong>Volume:</strong> <span th:text="${citation.volume}"></span></li>
            <li><strong>Number:</strong> <span th:text="${citation.number}"></span></li>-->
            <li><strong>Type:</strong> <span th:text="${citation.type}"></span></li>
            <li><strong>BibTex-key:</strong> <span th:text="${citation.bibtexkey}"></span></li>
        </ul>
    </body>
</html>