<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Citations</title>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Type</th>
                </tr>
            </thead>

            <tbody>

                <tr th:each="citation : ${citations}">
                    <td><a th:href="@{/citations/{id}(id=${citation.id})}" th:text="${citation.title}"></a></td>
                    <td th:text="${citation.author}"></td>
                    <td th:text="${citation.year}"></td>
                    <td th:text="${citation.type.displayName}"></td>
                </tr>
            </tbody>
        </table>
        
        <a href="/citations/add">Add a new citation</a>
    </body>
</html>
