<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List of citations</title>
        
        
    </head>
    <body>
        <h3>Citations</h3>
        <br/>
        <p>Beck, Kent and Andres, Cynthia</p>
        <p>Extreme Programming Explained: Embrace Change (2nd Edition)</p>
        <p>2004</p>
        <br/>
        <p>Whittington, Keith J.</p>
        <p>Infusing active learning into introductory programming courses</p>
        <p>2004</p>
        <br/>
    </body>
</html>
